.cards {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .card {
    width: 200px;
    height: 300px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    background-color: var(--card-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }